header{
  background: url(../images/bg-1.webp) center / cover no-repeat;
  padding: 250px 0;
  z-index: 1;
  position: relative;
}

header::after{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

header .header-contint{
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-contint .header-title{
  color: var(--white);
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: capitalize;
}

/********************product***********************/

.product{
  padding: 100px 0;
  background-color: var(--light-gray);
}

.product .product-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.product .product-head .product-info{
  font-size: .85rem;
  color: var(--dark-gray);
  font-weight: 300;
}

.product .product-head .product-info span{
  color: var(--dark);
  font-size: 1rem;
  font-weight: 500;
}

.product .product-head .product-selction{
  width: 130px;
  height: 35px;
  position: relative;
}

.product .product-head .product-selction select{
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  padding: 10px 30px 10px 10px;
  cursor: pointer;
  -webkit-appearance: none;
}

.product .product-head .product-selction .slect-dowen{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  pointer-events: none;
  transition: 0.3s transform ease-in-out;
}

.product .product-head .product-selction select:focus-visible + .slect-dowen{
  transform: translateY(-50%) rotate(180deg);
}

.product .product-head .product-selction .slect-dowen img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: var(--dark-gray-img);
}

.product .product-head select option{
  padding: 10px 20px;
}

.product .product-contint{
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 30px;
  flex-wrap: wrap;
}

.product .product-contint .product-item{
  width: 29%;
  transition: 0.3s all ease-in-out;
}

.product .product-contint .product-item:hover{
  transform: scale(1.02);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.product .product-contint .product-item .product-top{
  width: 100%;
  height: 400px;
  position: relative;
}

.product .product-contint .product-item .product-top .product-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.product .product-contint .product-item .product-tool{
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  overflow: hidden;
}

.product .product-contint .product-item .product-tool a{
  position: absolute;
  left: 50%;
  transform: translate(-50px, -50%);
  width: 25px;
  height: 25px;
  transition: 0.3s all ease-in-out;
}

.product .product-contint .product-item:hover .product-tool a{
  transform: translate(-50%, -50%);
}

.product .product-contint .product-item .product-tool .add-to-cart{
  top: 35%;
}

.product .product-contint .product-item .product-tool .add-to-fav{
  top: 50%;
  transition-delay: 0.15s;
}

.product .product-contint .product-item .product-tool .share{
  top: 65%;
  transition-delay: 0.3s;
}

.product .product-contint .product-item .product-tool a img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: var(--dark-img);
  transition: 0.3s all ease-in-out;
}

.product .product-contint .product-item .product-tool a:hover img{
  filter: var(--primary-img);
}

.product .product-contint .product-item .product-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.product .product-contint .product-item .product-body .product-title{
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--dark);
  transition: 0.6s color ease-in-out;
  text-transform: capitalize;
}

.product .product-contint .product-item:hover .product-body .product-title{
  color: var(--primary);
}

.product .product-contint .product-item .product-body .product-price{
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--dark-gray);
}

.product .product-contint .product-item .product-body .rate{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 5px;
}

.product .product-contint .product-item .product-body .rate img{
  width: 20px;
  height: 20px;
  object-fit: contain;
  filter: var(--gold-img) drop-shadow(0px -2px 0px rgba(0, 0, 0, 0.5));
  opacity: 0.9;
}